h1#header
    a(href='/') New Sails App
    #content
      h2 It works! \Views\Home
      p You've successfully installed the Sails Framework.
      p
        | Sails is a modern, realtime MVC framework for the Node.js platform.
        br
        span.highlight It helps you build apps fast.
      p
        a.button(href='https://github.com/balderdashy/sails/wiki')
          span Documentation
        a.button(href='https://github.com/balderdashy/sails/wiki/Changelog')
          span Changelog

#footer
    a.copyright(target='_blank', href='http://sailsjs.com') Built with Sails.js
